/* ABOUT PAGE MAIN CONTENT
-------------------------------------------------- */

.about-copy {
	padding-top: 32px;
	padding-bottom: 170px;

	h2 {
		padding-top: 30px;
	}

	p {
		padding-top: 30px;
	}
}