.footer {
    background: #283339;
    color: #fff;
    margin-bottom: -1px; /* Fix for 1-pixel grey border on bottom of div in mobile Safari */

    .footer-left-col {
        padding-top: 40px;
        text-align: right;

        @media (max-width: 768px) {
            padding-top: 20px;
            text-align: left;
        }
    }

    .footer-middle-col {
        background: url('../images/footer-divider-line.png') repeat-y;
        padding-top: 40px;
        padding-bottom: 40px;

        @media (max-width: 768px) {
            background: none;
            padding-top: 10px;
            padding-bottom: 0;
        }

        .footer-text {
            color: #4b8aa6;
        }
    }

    .footer-right-col {
        padding-top: 40px;
        text-align: right;

        @media (max-width: 768px) {
            padding-top: 20px;
            text-align: left;
        }

        .footer-text-legal {
            color: #000;
        }
    }

    .gutter {
        height: 105px;

        @media (max-width: 768px) {
            height: 40px;
        }
    }
}