body {
	font-face: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #4b8aa6;
}

.ul-unstyled {
	padding-left: 0;
	list-style: none;
	clear: both;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}