body {
	font-face: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #4b8aa6;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}