/* NAV
-------------------------------------------------- */

.nav-background {
    background-color: #283339;
}

.nav-no-background {
    background: none;
}

.navbar-default {
    position: absolute;
    border: none;
    margin-bottom: 0;

    .navbar-collapse {
        border: none;
        box-shadow: none;
        background-color: #273339;
        float: right;

        @media (min-width: 768px) {
            background: none;
        }
    }

    .navbar-nav {
        li {
            font-size: 12px;

            a {
                padding-left: 25px;
                padding-right: 15px;

                @media (min-width: 768px) {
                    padding-right: 0;
                }
            }

            a:link,
            a:visited,
            a:hover,
            a:active {
                color: #b2b2b2;
            }

            a:hover {
                color: #fff;
            }
        }

        .active {
            a:link,
            a:visited,
            a:hover,
            a:active {
                background: none;
                color: #f25822;
            }
        }

        .divider {
            padding-top: 15px;
            padding-left: 25px;
            padding-right: 0;
            color: #b2b2b2;
        }
    }

    .navbar-toggle,
    .navbar-toggle:focus {
        background: none;
        border: none;
        margin-top: 18px;

        .icon-bar {
            background: #b2b2b2;
        }
    }

    .navbar-toggle:hover {
        background: none;
    }
}

/* HEADER
-------------------------------------------------- */

.header-top {
    background: #283339 url('../images/header-background.jpg') no-repeat top center;
    background-size: cover;
    color: #fff;
    padding-bottom: 40px;

    .logo-container {
        text-align: center;
        margin-top: 10px;

        @media (min-width: 768px) {
            text-align: left;
            margin-top: 60px;
        }
    }

    .header-copy {
        margin-top: 50px;
        width: 100%;

        @media (min-width: 768px) and (max-width: 992px) {
            max-width: 300px;
        }

        @media (min-width: 992px) {
            max-width: 350px;
        }

        .header-home-heading {
            font-size: 18px;

            @media (min-width: 768px) and (max-width: 992px) {
                font-size: 28px;
            }

            @media (min-width: 992px) {
                font-size: 34px;
            }
        }

        .header-body-copy {
            margin-top: 10px;
            font-size: 12px;

            @media (min-width: 768px) {
                font-size: 16px;
            }
        }
    }

    .header-copy-news {
        margin-top: 100px;
    }

    .header-heading {
        margin-top: 33px;
        font-size: 18px;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 34px;
            text-align: left;
        }
    }

    .header-subheading {
        margin-top: 2px;
        font-size: 12px;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 18px;
            text-align: left;
        }
    }
}

.video-image-container {
    padding: 0;

    .video-image {
        width: 100%;
        height: auto;
    }
}

.header-bottom {
    background: #f25822;
    color: #fff;
    height: 137px;
    z-index: 100;

    .sign-up-copy {
        margin-top: 33px;
        margin-bottom: 33px;
        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
        }

        .sign-up-heading {
            margin-top: 10px;
            text-align: center;

            @media (min-width: 768px) {
                text-align: left;
            }

            @media (max-width: 992px) {
                font-size: 14px;
            }
        }

        .sign-up-button {
            width: 100%;
            max-width: 345px;
        }
    }

    .header-copy {
        margin-top: 30px;

        @media (max-width: 992px) {
            font-size: 30px;
        }
    }

    .video-image {
        position: absolute;
        right: 0;
        top: -98px;
        width: 420px;
        height: auto;

        @media (min-width: 992px) {
            top: -179px;
            width: 527px;
        }
    }
}

.header-fixed {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;

    .logo {
        margin-top: 20px;
    }
}