/* NAV
-------------------------------------------------- */

.navbar-default {
    background: none;
    border: none;
    margin-bottom: 0;

    .navbar-nav {
        li {
            font-size: 12px;
        }
    }

    .navbar-nav > .active > a:link,
    .navbar-nav > .active > a:visited,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:active {
        background: none;
        color: #f25822;
    }

    .navbar-nav > li > a:link
    .navbar-nav > li > a:visited,
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:active {
        color: #b2b2b2;
    }

    .navbar-nav > li > a:hover {
        color: #fff;
    }

    .navbar-toggle,
    .navbar-toggle:focus {
        background: none;
        border: none;

        .icon-bar {
            background: #b2b2b2;
        }
    }

    .navbar-toggle:hover {
        background: none;
    }
}

/* HEADER
-------------------------------------------------- */

.header-top {
    background: #283339 url('../images/header-background.jpg') no-repeat top center;
    background-size: cover;
    color: #fff;
    padding-bottom: 40px;

    .logo {
        width: 100%;
        max-width: 302px;
        height: auto;
    }

    .header-copy {
        padding-top: 55px;
    }

    .header-body-copy {
        width: 100%;
        max-width: 320px;
    }

    .header-heading {
        padding-top: 33px;
    }

    .header-subheading {
        padding-top: 2px;
    }
}

.header-bottom {
    background: #f25822;
    color: #fff;
    padding-bottom: 40px;
    z-index: 100;

    .sign-up-copy {
        padding-top: 33px;

        .sign-up-button {
            width: 100%;
            max-width: 345px;
            height: 40px;
        }
    }

    .header-copy {
        padding-top: 40px;
    }
}

.header-fixed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}