/* NAV
-------------------------------------------------- */

.navbar-default {
    background: none;
    border: none;
    margin-bottom: 0;

    .navbar-nav {
        li {
            font-size: 12px;

            a:link,
            a:visited,
            a:hover,
            a:active {
                color: #b2b2b2;
            }

            a:hover {
                color: #fff;
            }
        }
    }

    .navbar-nav > .active > a:link,
    .navbar-nav > .active > a:visited,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:active {
        background: none;
        color: #f25822;
    }

    .navbar-toggle,
    .navbar-toggle:focus {
        background: none;
        border: none;

        .icon-bar {
            background: #b2b2b2;
        }
    }

    .navbar-toggle:hover {
        background: none;
    }
}

/* HEADER
-------------------------------------------------- */

.header-top {
    background: #283339 url('../images/header-background.jpg') no-repeat top center;
    background-size: cover;
    color: #fff;
    padding-bottom: 40px;

    .logo-container {
        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
        }
    }

    .header-copy {
        margin-top: 50px;
        width: 100%;

        @media (min-width: 768px) {
            max-width: 350px;
        }

        .header-body-copy {
            margin-top: 10px;
        }
    }

    .header-heading {
        padding-top: 33px;
    }

    .header-subheading {
        padding-top: 2px;
    }
}

.header-bottom {
    background: #f25822;
    color: #fff;
    z-index: 100;

    .sign-up-copy {
        margin-top: 33px;
        margin-bottom: 33px;
        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
        }

        .sign-up-heading {
            margin-top: 10px;
            text-align: center;

            @media (min-width: 768px) {
                text-align: left;
            }

            @media (max-width: 992px) {
                font-size: 14px;
            }
        }

        .sign-up-button {
            width: 100%;
            max-width: 345px;
            height: 40px;
        }
    }

    .header-copy {
        margin-top: 30px;

        @media (max-width: 992px) {
            font-size: 30px;
        }
    }
}

.header-fixed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .logo {
        margin-top: 20px;
    }
}