/* HOME PAGE MAIN CONTENT
-------------------------------------------------- */

.home-main {
    background: #eaeaea;
    padding: 0;

    .home-main-container {
        padding: 0;
        max-width: 1200px;

        .home-tab-col {
            @media (min-width: 768px) {
                padding: 0;
            }

            .home-tab {
                background: #eaeaea url('../images/tab-gradient.png') no-repeat right bottom;
                height: 140px;

                p {
                    font-size: 14px;

                    @media (max-width: 1200px) {
                        font-size: 13px;
                    }
                }

                .home-tab-copy {
                    float: right;
                    padding-top: 30px;
                    padding-right: 20px;

                    @media (max-width: 1200px) {
                        padding-right: 10px;
                    }

                    .tab-number-circle {
                        float: left;
                    }

                    .home-tab-heading {
                        float: left;
                        width: 180px;
                        padding-left: 10px;

                        @media (max-width: 1200px) {
                            width: 160px;
                        }

                        .home-tab-icon {
                            float: right;
                        }

                        .home-tab-subheading {
                            padding-top: 8px;
                        }
                    }
                }
            }
        }

        .home-main-content {
            background: #fff;
            height: 560px;
        }
    }
}

/* HOME PAGE FOOTER
-------------------------------------------------- */

.home-footer {
    background: #283339;
    color: #fff;
    margin-bottom: -1px; /* Fix for 1-pixel grey border on bottom of div in mobile Safari */

    .home-footer-container {
        padding: 0;
        max-width: 1200px;

        .home-footer-left-col {
            background: #f25822 url('../images/footer-left-background.jpg') no-repeat;
            background-size: cover;
            height: 415px;
            padding-top: 130px;
            text-align: center;
            z-index: 10; /* Workaround for divider line appearing over orange div due to mobile Safari margine fix */

            @media (max-width: 768px) {
                display: none;
            }
        }

        .home-footer-right-col {
            background: #283339 url('../images/footer-right-background.jpg') no-repeat;
            background-size: cover;
            height: 415px;
            padding-top: 130px;
            text-align: center;

            .footer-heading {
                margin-bottom: 0px;
            }

            .footer-subheading {
                margin-top: 0px;
            }
        }
    }
}