$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

a:link,
a:visited,
a:hover,
a:active {
    color: #4b8aa6;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header-top {
    background: #283339 url('../images/header-background.jpg') no-repeat top center;
    color: #fff;

    .main-nav {
        text-align: right;
    }

    .header-left-col {
        .logo {
        }
        .header-copy {
            width: 300px;
            padding-top: 10px;
            padding-bottom: 30px;

            .header-body-copy {
                margin-right: 20px;
            }
        }
    }

    .header-right-col {
    }
}

.header-bottom {
    background: #f25822;
    color: #fff;

    .header-left-col {
        .sign-up-copy {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

.main-content {
    height: 600px;
}

.home-footer {
    background: #283339;
    color: #fff;

    .home-footer-container {
        padding: 0;
        max-width: 1200px;

        .home-footer-left-col {
            background: #f25822 url('../images/footer-left-background.jpg') no-repeat;
            background-size: cover;
            height: 415px;
            padding-top: 130px;
            text-align: center;

            @media (max-width: 768px) {
                display: none;
            }
        }

        .home-footer-right-col {
            background: #283339 url('../images/footer-right-background.jpg') no-repeat;
            background-size: cover;
            height: 415px;
            padding-top: 130px;
            text-align: center;

            .footer-heading {
                margin-bottom: 0px;
            }

            .footer-subheading {
                margin-top: 0px;
            }
        }
    }
}

.footer {
    background: #283339;
    color: #fff;

    .footer-left-col {
        padding-top: 40px;
        text-align: right;

        @media (max-width: 768px) {
            padding-top: 20px;
            text-align: left;
        }
    }

    .footer-middle-col {
        background: url('../images/footer-divider-line.png') repeat-y;
        padding-top: 40px;
        padding-bottom: 40px;

        @media (max-width: 768px) {
            background: none;
            padding-top: 10px;
            padding-bottom: 0;
        }

        .footer-text {
            color: #4b8aa6;
        }
    }

    .footer-right-col {
        padding-top: 40px;
        text-align: right;

        @media (max-width: 768px) {
            padding-top: 20px;
            text-align: left;
        }

        .footer-text-legal {
            color: #000;
        }
    }
}

.gutter {
    background: #283339;
    height: 105px;

    @media (max-width: 768px) {
        height: 40px;
    }
}