/* NAV
-------------------------------------------------- */

.navbar-default {
    background: none;
    border: none;

    .navbar-nav > .active > a:link,
    .navbar-nav > .active > a:visited,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:active {
        background: none;
        color: #f25822;
    }

    .navbar-nav > li > a:link
    .navbar-nav > li > a:visited,
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:active {
        color: #b2b2b2;
    }

    .navbar-nav > li > a:hover {
        color: #fff;
    }

    .navbar-toggle,
    .navbar-toggle:focus {
        background: none;
        border: none;

        .icon-bar {
            background: #b2b2b2;
        }
    }

    .navbar-toggle:hover {
        background: none;
    }
}

/* HEADER
-------------------------------------------------- */

.header-top {
    background: #283339 url('../images/header-background.jpg') no-repeat top center;
    color: #fff;

    .header-left-col {
        .logo { }

        .header-copy {
            padding-top: 10px;
            padding-bottom: 30px;

            .header-body-copy {
                margin-right: 20px;
            }

            .header-heading {
                margin-bottom: 0px;
            }

            .header-subheading {
                margin-top: 0px;
            }
        }
    }

    .header-right-col { }
}

.header-bottom {
    background: #f25822;
    color: #fff;

    .header-left-col {
        .sign-up-copy {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}