.news-header {
    background-color: #fff;
    
    @media (min-width: 768px) {
        background: #f25822 url('../images/white-orange-background.png') repeat-y center top;
    }
}

/* NEWS MAIN CONTENT
-------------------------------------------------- */

.news-main {
    @media (min-width: 768px) {
        background: #fff url('../images/white-blue-background.png') repeat-y center top;
    }

    .news-content {
        background-color: #fff;
        margin-top: -137px;
        padding-top: 50px;
        padding-right: 40px;
        padding-bottom: 50px;

        @media (min-width: 992px) {
            padding-right: 100px;
        }

        article {
            margin-top: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid #ccc;
        }

        article:last-child {
            border: none;
        }

        .entry-meta {
            .author {
                display: none;
            }

            .meta-sep {
                display: none;
            }
        }

        .entry-content {
            padding-top: 40px;

            img {
                max-width: 100%;
                height: auto;
                margin: 20px;

                @media (min-width: 992px) {
                    margin: 40px;
                }
            }

            .alignnone {
                margin-top: 0;

                @media (max-width: 992px) {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            .alignleft {
                float: left;
                margin-top: 0;
                margin-left: 0;
            }
        }

        .entry-footer {
            display: none;
        }

        #comments {
            display: none;
        }
    }
}

.orange-bar {
    position: absolute;
    margin-top: -50px;
    right: 0;
    background-color: #f25822;
    width: 40px;
    height: 137px;
}

/* NEWS SIDEBAR
-------------------------------------------------- */

.news-sidebar {
    background-color: #273339;

    h3 {
        font-weight: 300;
        letter-spacing: 1px;
    }

    ul {
        padding-left: 0;
        list-style-type: none;

        li {
            margin-top: 10px;

            h3 {
                color: #fff;
                margin-top: 40px;
            }

            a {
                text-decoration: underline;
            }

            a:hover {
                color: #fff;
            }
        }
    }
}

.news-sidebar-image-container {
    background: #f25822 url('../images/white-orange-background.png') repeat-y center top;
    height: 415px;
    margin-top: -415px;

    .news-sidebar-image {
        background: #f25822 url('../images/orange-background.jpg') no-repeat;
        background-size: cover;
        height: 415px;
        padding-top: 130px;
        text-align: center;
    }
}