.news-header {
    background: #f25822 url('../images/white-orange-background.png') repeat-y center top;
}

/* NEWS MAIN CONTENT
-------------------------------------------------- */

.news-main {
    background: #fff url('../images/white-blue-background.png') repeat-y center top;

    .news-content {
        background-color: #fff;
        margin-top: -137px;
        padding-top: 50px;
        padding-right: 40px;
        padding-bottom: 50px;

        @media (min-width: 992px) {
            padding-right: 100px;
        }

        .entry-content {
            padding-top: 40px;

            img {
                margin: 40px;
            }

            .alignleft {
                float: left;
                margin-top: 0;
                margin-left: 0;
            }
        }

        .entry-footer {
            display: none;
        }

        #comments {
            display: none;
        }
    }
}

.orange-bar {
    position: absolute;
    margin-top: -50px;
    right: 0;
    background-color: #f25822;
    width: 40px;
    height: 137px;
}

/* NEWS SIDEBAR
-------------------------------------------------- */

.news-sidebar {
    background-color: #273339;

    ul {
        padding-left: 0;
        list-style-type: none;

        li {
            h3 {
                color: #fff;
                margin-top: 40px;
            }

            margin-top: 20px;
        }
    }
}