/* PRICING HEADER
-------------------------------------------------- */

.pricing-header {
    background: #d5e9e8;
    color: #283339;
    border-top: 2px solid #fff;
    padding-bottom: 57px;

    .header-copy {
        padding-top: 75px;
    }

    .pricing-header-copy {
    	padding-top: 53px;

        .price-heading {
        	font-size: 64px;
        	font-weight: bold;
        }

        .price-heading-small {
        	font-size: 24px;
        }

        .price-subheading {
        	margin-top: -10px;
        }
    }
}

/* PRICING PAGE MAIN CONTENT
-------------------------------------------------- */

.pricing-intro {
	text-align: center;

	.pricing-intro-heading {
		margin-top: 42px;
	}

	.pricing-intro-subheading {
		margin-top: 13px;
	}
}

.pricing-content-top {
	margin-top: 58px;

	.ul-unlimited {
		width: 100%;
		max-width: 360px;
		margin-top: 35px;

		li {
			float: left;
			width: 50%;
			margin-top: 15px;

			.check-bullet {
				vertical-align: top;
				margin-right: 10px;
			}
		}
	}

	.ul-features {
		width: 100%;
		max-width: 525px;
		margin-top: 40px;

		li {
			float: left;
			width: 100%;
			padding-top: 15px;
			padding-bottom: 15px;
			border-bottom: 2px solid #d5e9e8;

			.feature-bullet {
				margin-right: 20px;
			}
		}

		.li-no-border {
			border: none;
		}
	}
}

.pricing-content-bottom {
	margin-top: 85px;
	margin-bottom: 100px;

	.ul-cloud {
		margin-top: 40px;

		li {
			float: left;
			width: 100%;
			margin-top: 15px;

			.arrow-bullet {
				vertical-align: top;
				margin-right: 10px;
			}
		}
	}

	.cloud-screens {
		margin-top: 18px;

        @media (max-width: 410px) {
        	width: 100%;
        	height: auto;
        }
	}
}