/* PRICING HEADER
-------------------------------------------------- */

.pricing-header {
    background: #d5e9e8;
    color: #283339;
    border-top: 2px solid #fff;
    padding-bottom: 57px;

    .header-copy {
        padding-top: 75px;
    }

    .pricing-header-copy {
    	padding-top: 53px;

        .price-heading {
        	font-size: 64px;
        	font-weight: bold;
        }

        .price-heading-small {
        	font-size: 24px;
        }

        .price-subheading {
        	margin-top: -10px;
        }
    }
}

.pricing-intro {
	text-align: center;

	.pricing-intro-heading {
		padding-top: 20px;
	}
}

.pricing-content-top {
	padding-top: 40px;

	.arrow-bullet {
		float: left;
		padding-right: 10px;
	}

	.ul-unlimited {
		width: 380px;
		padding-top: 40px;

		li {
			float: left;
			width: 50%;
			padding-top: 15px;
		}
	}

	.ul-features {
		width: 525px;
		padding-top: 40px;

		li {
			float: left;
			width: 100%;
			padding-top: 15px;
			padding-bottom: 15px;
			border-bottom: 2px solid #d5e9e8;
		}

		.li-no-border {
			border: none;
		}
	}
}

.pricing-content-bottom {
	padding-top: 50px;
	padding-bottom: 100px;

	.arrow-bullet {
		float: left;
		padding-right: 10px;
	}

	.ul-cloud {
		padding-top: 20px;

		li {
			float: left;
			width: 100%;
			padding-top: 15px;
		}
	}

	.cloud-screens {
		padding-top: 20px;
	}
}

/* PRICING MAIN CONTENT
-------------------------------------------------- */

.pricing-content {
    height: 600px;
}