/* PRICING HEADER
-------------------------------------------------- */

.pricing-header {
    background: #d5e9e8;
    color: #283339;
    border-top: 2px solid #fff;
    padding-bottom: 57px;

    .header-copy {
        padding-top: 75px;
    }

    .pricing-header-copy {
    	padding-top: 53px;

        .price-heading {
        	font-size: 64px;
        	font-weight: bold;
        }

        .price-heading-small {
        	font-size: 24px;
        }

        .price-subheading {
        	margin-top: -10px;
        }
    }
}

/* PRICING PAGE MAIN CONTENT
-------------------------------------------------- */

.pricing-intro {
	text-align: center;

	.pricing-intro-heading {
		margin-top: 42px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 440px;

		@media (min-width: 992px) {
			width: 100%;
		}
	}

	.pricing-intro-subheading {
		margin-top: 13px;
	}
}

.pricing-content-top {
	margin-top: 28px;

	@media (min-width: 992px) {
		margin-top: 58px;
	}

	.list-heading {
		text-align: center;

		@media (min-width: 992px) {
			text-align: left;
		}
	}

	.ul-unlimited {
		width: 100%;
		max-width: 360px;
		margin-top: 35px;
		margin-left: auto;
		margin-right: auto;

		@media (min-width: 992px) {
			margin-left: 0;
			margin-right: 0;
		}

		li {
			float: left;
			width: 50%;
			margin-top: 15px;

			.check-bullet {
				vertical-align: top;
				margin-right: 10px;
			}
		}
	}

	.features-col {
		margin-top: 50px;

		@media (min-width: 992px) {
			margin-top: 0;
		}

		.ul-features {
			width: 100%;
			max-width: 525px;
			margin-top: 40px;
			margin-left: auto;
			margin-right: auto;

			@media (min-width: 992px) {
				margin-top: 40px;
				margin-left: 0;
				margin-right: 0;
			}

			li {
				float: left;
				width: 100%;
				padding-top: 15px;
				padding-bottom: 15px;
				border-bottom: 2px solid #d5e9e8;

				.feature-bullet {
					margin-right: 20px;
				}
			}

			.li-no-border {
				border: none;
			}
		}
	}
}

.pricing-content-bottom {
	margin-top: 40px;
	margin-bottom: 100px;

	@media (min-width: 992px) {
		margin-top: 85px;
	}

	.list-heading {
		text-align: center;

		@media (min-width: 992px) {
			text-align: left;
		}
	}

	.cloud-list-col {
		margin-top: 35px;

		@media (min-width: 992px) {
			margin-top: 0;
		}

		.ul-cloud {
			width: 100%;
			max-width: 400px;
			margin-top: 40px;
			margin-left: auto;
			margin-right: auto;

			@media (min-width: 992px) {
				margin-left: 0;
				margin-right: 0;
			}

			li {
				float: left;
				width: 100%;
				margin-top: 15px;

				.arrow-bullet {
					vertical-align: top;
					margin-right: 10px;
				}
			}
		}
	}

	.cloud-screens-col {
		text-align: center;

		@media (min-width: 992px) {
			text-align: left;
		}

		.cloud-screens {
			margin-top: 18px;
	    	width: 100%;
	    	max-width: 410px;
	    	height: auto;
		}
	}
}