/* VIMEO PLAYER
-------------------------------------------------- */

.modal-dialog {
    margin: 0 auto;

    .video-player-container {
        .close-video-modal-button {
            float: right;
            font-size: 18px;
            color: #fff;
            margin-bottom: 2px;
            cursor: pointer;
        }

        .vimeo-player {
            width: 700px;
            height: 400px;
            border: 0;

            @media (min-width: 992px) {
                width: 960px;
                height: 548px;
            }
        }
    }
}

.modal-lg {
    @media (min-width: 768px) and (max-width: 992px) {
        width: 700px;
    }
    @media (min-width: 992px) {
        width: 960px;
    }
    text-align: center;
}